.metadata/*
**/metadata/*
.metadata/.log
*medbias*
chiron/sent_by_email/
*.sav
*.log
*.dat
*.fits
*achi*
*chi1*
*chi2*
*med*
*.txt
*.thid
/.metadata/
all_yale_files/*
idl_packages/
*.project
previous_thid_ignore/
*.tgz
/cfitsio-3.49/
/chiron/various_resources/
chiron/debugging/