.metadata/*
**/metadata/*
.metadata/.log
*medbias*
chiron/sent_by_email/
*.sav
*.log
*.dat
*.fits
*achi*
*chi1*
*chi2*
*med*
.txt
*.thid
/.metadata/
all_yale_files/*
*.project
previous_thid_ignore/
*.tgz
/cfitsio-3.49/
/chiron/various_resources/
chiron/debugging
idl_packages/optspecextr-0.3.1/
*password*
*Default/*